<div id="working-space" class="full">
	<div id="psd-preview">

	</div>
	<div id="psd-layer-list">
	</div>
</div>

<div id="msg-loading" class="msg">
	Loading
	<div class="spinner">
	  <div class="bounce1"></div>
	  <div class="bounce2"></div>
	  <div class="bounce3"></div>
	</div>
</div>
<div id="msg-start" class="msg">Drop file here</div>
<div id="msg-error" class="msg">Can`t open file.<br>Wrong file format.</div>
