// app component
#psd-for-dev {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lighten(black, 30%);
	text-shadow: 0px 0px 2px rgba(black, 1);
	color: darken(white, 5%);
	transition: background-color 0.8s;

	& > div {
		display: none;
	}

	& .msg {
		border: 2px dotted darken(white, 35%);
		border-radius: 5px;
		padding: 20px;
		font-size: 20px;
		text-align: center;
		padding: 10vw 10vh;
	}

	& #msg-start {
		transition: background-color 0.8s;
		background-color: rgba(lighten(black, 40%), 0.8);
	}

	& #msg-loading {
		//padding: 10vw 10vh;
		border: none;

		@include spinner(darken(white, 35%), 12px);
		& .spinner {
			margin: 10px;
		}
	}

	&[data-status='start'] {
		& #msg-start {
			display: block;
		}
	}
	&[data-status='loading'] {
		& #msg-loading {
			display: block;
		}
	}
	&[data-status='loaded'] {
		& #working-space {
			display: flex;
		}
	}
	&[data-status='error'] {
		& #msg-error {
			display: block;
		}
	}
	&[data-status='drag-over'] {
		background-color: lighten(black, 20%);
		& #msg-start {
			display: block;
			background-color: rgba(lighten(black, 60%), 0.8);
		}
	}
}

//button
.button {
	color: rgba(darken(white, 20%), 0.8);
	transition: color 0.5s;
	&:hover {
		color: darken(white, 5%);
	}
}