// app component
#psd-for-dev {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lighten(black, 30%);
	text-shadow: 0px 0px 2px rgba(black, 1);
	color: darken(white, 5%);
	transition: background-color 0.8s;

	& > div {
		display: none;
	}

	& .msg {
		border: 2px dotted darken(white, 35%);
		border-radius: 5px;
		font-size: 20px;
		text-align: center;
		padding: 10vw 10vh;
		pointer-events: none;
		max-width: 60%;
		word-wrap: break-word;
		@include media-breakpoint-down(sm) {
			padding: 20px 15px;
			max-width: 90%;
		}
	}

	& #msg-start {
		transition: background-color 0.8s;
		background-color: rgba(lighten(black, 40%), 0.8);
	}

	& #msg-loading {
		border: none;
		@include spinner(darken(white, 35%), 12px);
		& .spinner {
			margin: 10px;
		}
	}

	& #msg-drop {
		transition: opacity 0.8s;
		opacity: 0;
		background-color: rgba(lighten(black, 60%), 0.8);
	}

	&[data-status='start'] {
		& #msg-start {
			display: block;
		}
	}
	&[data-status='loading'] {
		& #msg-loading {
			display: block;
		}
	}
	&[data-status='loaded'] {
		& #working-space {
			display: flex;
		}
	}
	&[data-status='message'] {
		& #msg-message {
			display: block;
		}
	}
	&[data-status='drag-over'] {
		background-color: lighten(black, 20%);
		& #msg-drop {
			display: block;
			opacity: 1;
		}
	}
}

//button
.button,
a {
	color: rgba(darken(white, 20%), 0.8);
	transition: color 0.5s;
	&:hover {
		color: darken(white, 5%);
	}
	pointer-events: auto;
}