$layer-margin: 10px;

#psd-preview {
	display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
	& .image-view {
		margin: $layer-margin;
		position: relative;
		& .layer {
			display: none;
			position: absolute;
			padding: $layer-margin;
			margin: -$layer-margin;
			border: 1px solid rgba(red, 0);
			box-sizing: content-box;
			&.is-visible {
				display: block;
			}
			&.hover {
				border-color: red;
			}
		}
	}
}